<h1>検索履歴</h1>

<ul>
  <% @search_history.each do |history| %>
    <li>
      <%= link_to history.to_term, { controller: 'searches', action: 'search', word: history.term, range: 'User' } %>
      <span class="timestamp"><%= history.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
    </li>
  <% end %>
</ul>


