<div class="container py-5 mx-auto">
  <h3 class="text-center">いいねした投稿一覧</h3>
  <div class="row">
    <div class="col-12">
      <% if @liked_posts.any? %>
        <table class="table table-bordered">
          <thead class="bg-primary text-white">
            <tr>
              <th>投稿画像</th>
              <th>キャプション</th>
              <th>場所</th>
            </tr>
          </thead>
          <tbody>
            <% @liked_posts.each do |post| %>
              <tr>
                <td>
                  <%= link_to show_detail_post_path(post) do %>
                    <%= image_tag post.image, class: "img-thumbnail custom-image" %>
                  <% end %>
                </td>
                <td><%= post.caption %></td>
                <td><%= post.location ? post.location.place_name : '場所情報なし' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="text-center">まだいいねした投稿はありません。</p>
      <% end %>
    </div>
  </div>
</div>
