@use '~bootstrap/scss/bootstrap';

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 投稿を中央に配置 */
  gap: 20px; /* 投稿の間に余白を追加 */
}

.post {
  border: 1px solid #ccc; /* 枠線を追加 */
  padding: 10px; /* 投稿の内側に余白を追加 */
  text-align: center; /* テキストを中央に配置 */
}

.custom-image {
  max-width: 100px; /* 画像の最大幅を調整 */
  height: auto; /* 高さは自動調整 */
}





footer {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 10px;
            position: fixed; /* 追加 */
            bottom: 0; /* 追加 */
            width: 100%; /* 追加 */
            height: 40px;
        }

body {
          padding-bottom: 40px; /* フッターの高さと同じ値を指定 */
     }

.navbar-brand{
position: fixed;
top: 10px;
left: 10px;
}

/* リンクの文字色を黒に変更 */
.navbar-nav li a {
    color: #000000; /* または color: black; */
}

/* リンクの間隔（横方向のスペース）を調整 */
.navbar-nav li {
    margin-right: 10px; /* 例: 右に10pxのスペースを追加 */
    /* 他のスタイルを追加できます */
}

.square-border {
  display: inline-block; /* ブロック要素をインラインブロックに変更 */
  max-width: 80%; /* 最大幅を制限（適切な幅に調整） */
  height: 200px; /* 正方形の高さ */
  width: auto; /* 幅は自動で調整される */
  border: 1px solid #000; /* 枠線のスタイル（任意） */
  text-align: center; /* テキストを中央寄せ */
  padding: 10px; /* テキストと枠の余白（任意） */
}

.search-form {
  display: inline-block; /* フォームをインラインで表示 */
  margin-right: 10px; /* フォームとリンクの間隔を調整 */
}

.search-history-link {
  display: inline-block; /* リンクをインラインで表示 */
}

body {
  background-image: image-url("hoge.jpg");
}
