@use '~bootstrap/scss/bootstrap';

// .post-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center; /* 投稿を中央に配置 */
//   gap: 20px; /* 投稿の間に余白を追加 */
// }

// .post {
//   border: 1px solid #ccc; /* 枠線を追加 */
//   padding: 10px; /* 投稿の内側に余白を追加 */
//   text-align: center; /* テキストを中央に配置 */
// }

// .custom-image {
//   max-width: 100px; /* 画像の最大幅を調整 */
//   height: auto; /* 高さは自動調整 */
// }



footer {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 10px;
            position: fixed; /* 追加 */
            bottom: 0; /* 追加 */
            width: 100%; /* 追加 */
            height: 40px;
            background-image: url("../images/IMG_2817.jpeg");
        }

body {
  margin: 0;
  padding: 0;
  padding-bottom: 40px; /* フッターの高さと同じ値を指定 */
  box-sizing: border-box; /* paddingとborderの幅を要素の内側に含める */
}


.navbar-brand{
position: fixed;
top: 10px;
left: 10px;
}

/* リンクの文字色を黒に変更 */
.navbar-nav li a {
    color: #000000; /* または color: black; */
}

/* リンクの間隔（横方向のスペース）を調整 */
.navbar-nav li {
    margin-right: 10px; /* 例: 右に10pxのスペースを追加 */
    /* 他のスタイルを追加できます */
}

.square-border {
  display: inline-block; /* ブロック要素をインラインブロックに変更 */
  max-width: 80%; /* 最大幅を制限（適切な幅に調整） */
  height: 200px; /* 正方形の高さ */
  width: auto; /* 幅は自動で調整される */
  border: 1px solid #000; /* 枠線のスタイル（任意） */
  text-align: center; /* テキストを中央寄せ */
  padding: 10px; /* テキストと枠の余白（任意） */
}

.search-form {
  display: inline-block; /* フォームをインラインで表示 */
  margin-right: 10px; /* フォームとリンクの間隔を調整 */
}

.search-history-link {
  display: inline-block; /* リンクをインラインで表示 */
}

.header-img {
  background-image: url("../images/IMG_2817.jpeg");
}

.navbar-brand {
  background-image: url("../images/img_2729_720.jpg");
}



  .square-border {
    border: 1px solid #000; /* 枠線を追加したい場合 */
    padding: 20px;
    max-width: 600px; /* 枠の幅を調整 */
  }

  .centered-text {
    text-align: center;
  }

.card-text-fixed-height {
  max-height: 100px; /* 適切な高さに調整 */
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  /* スマートフォン向けのスタイル設定 */
  .navbar {
    /* スタイルの変更 */
  }
}